<div class="content-header">{{'faqs.Manage FAQs not correctly answered' | translate }} 
  <a class="pull-right btn btn-primary btn-raised" (click)="openPanelSelectFilter(contentFilter)">
    {{'generics.Filter' | translate}}
  </a>
</div>
<div class="form-group">
  <span *ngIf="(filterActive)"> 
    <table class="col-md-12 table text-center table-responsive">
        <tbody>
          <tr>
              <td *ngIf="(filterScoreActive)">{{'faqs.Score filtering' | translate}} [{{value}}]</td>
              <td *ngIf="(filterLanguageActive)">{{'faqs.Language filtering' | translate}} [{{language}}]</td>
          </tr> 
        </tbody>
        <a (click)="removeFilter()" title="Remove filters"><i class="fa fa-trash red"></i>{{'generics.Delete all Filters' | translate}}</a>
      </table>
  </span>
</div>

<div id= "block">
  <div class="modal-body">
    <table class="col-md-12 table text-center table-responsive" *ngIf="!isLoading" responsive>
      <thead>
        <tr>
          <th class="w-10" style="vertical-align: middle;">{{'generics.Date' | translate }}</th>
          <th class="w-10" style="vertical-align: middle;">{{'faqs.User question' | translate }}</th>
          <th class="w-10" style="vertical-align: middle;"> {{'faqs.Answer' | translate }}</th>
          <th class="w-5" style="vertical-align: middle;">{{'faqs.Right answer' | translate }}</th>
          <th class="w-5" style="vertical-align: middle;">{{'generics.Delete' | translate }}</th>
        </tr>
      </thead>
      <tbody *ngIf="(FAQsNotAnswered!='')">
        <tr *ngFor="let QNA of FAQsNotAnswered ; let i=index">

          <td class="w-10" style="padding:10px;">
            <div class="pull-left ft-globe">{{QNA.lang}}</div>
            {{QNA.date|date: timeformat}}
          </td>

          <td class="w-10" style="padding:10px;">
            {{QNA.data.userQuestion}} 
          </td>
          <td class="w-10" style="padding:10px;">
            {{QNA.data.answer}} 
          </td>
          <td class="danger w-10" style="padding:10px;">
            <span [ngClass]="(QNA.data.value=='No')?'danger':'success'">
              {{QNA.data.value}} 
            </span>
          </td>
          <td class="w-5">
            <a class="danger" data-original-title="" title="" (click)="confirmDeleteFAQQuestion(QNA)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="isLoading">
      <div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
    </span>
  </div>
  <br>
</div>

<ng-template #contentFilter let-c="close" let-d="dismiss" appendTo="body">
    <div class="modal-header" id="idHeader">
            <h4 class="modal-title">{{'faqs.Filter selection' | translate }}</h4>
    </div>
    <div class="modal-body" responsive>
      <select [(ngModel)]="seleccionado" required>
        <option value="" selected disabled>{{'generics.Select filter'| translate }}</option> 
        <option value="Value">{{'faqs.Right answer' | translate }}</option>   
        <option value="Lang">{{'generics.Lang' | translate }}</option>   

      </select> 
      <!---Seleccionado: {{ seleccionado }}-->
      <br>
      <div *ngIf="(seleccionado=='Value')">
        <input type="radio" [(ngModel)]="value" value="No" > No<br>
        <input type="radio" [(ngModel)]="value" value="Yes"> Yes<br>
      </div>

      <div *ngIf="(seleccionado=='Lang')">
          <input type="radio" [(ngModel)]="language" value="en" > EN<br>
          <input type="radio" [(ngModel)]="language" value="es"> ES<br>
          <input type="radio" [(ngModel)]="language" value="nl"> NL<br>


      </div>
        
      <div *ngIf="(seleccionado==undefined)">
          <p>{{'generics.Please, select a filter' | translate}}</p>
      </div>
      
    </div>
    <div class="modal-footer" >
        <div class="form-actions center" *ngIf="!sending">
            <button type="submit" class="btn btn-primary btn-raised" (click)="applyFilter(value)" *ngIf="(seleccionado=='Value')">{{'generics.Save' | translate }}</button>
            <button type="submit" class="btn btn-primary btn-raised" (click)="applyFilterLang(language)" *ngIf="(seleccionado=='Lang')">{{'generics.Save' | translate }}</button>
            <button type="submit" class="btn btn-primary btn-raised" (click)="c('Close click')" *ngIf="(seleccionado=='')" >{{'generics.Save' | translate }}</button>
            <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">{{'generics.Close' | translate }}</button>
        </div>
    </div>
</ng-template>