<!--Theme customizer Starts   <div class="customizer border-left-blue-grey border-left-lighten-4 d-block d-sm-block d-md-block open">-->
<div class="customizer border-left-blue-grey border-left-lighten-4 d-block d-sm-block d-md-block">
	<a class="customizer-maximize">
		<i class="ft-maximize-2 font-medium-3"></i>
	</a>
	<a class="customizer-minimize" style="display:none;">
		<i class="ft-minimize-2 font-medium-3"></i>
	</a>
	<a class="customizer-close">
		<i class="ft-x font-medium-3"></i>
	</a>
	<a class="customizer-toggle bg-danger" id="customizer-toggle-icon">
		<i class="icon-bubbles font-medium-4 fa  white align-middle"><p>{{'generics.Assistant' | translate }}</p></i><!--fa-spin-->
	</a>
	<a class="customizer-reload pull-right" style="z-index: 9999 !important;margin-top: 2em;" (click)="reloadPage()"><i class="icon-reload pull-right"></i></a>
	<div class="flex customizer-content p-3 ps-container ps-theme-dark" data-ps-id="df6a5ce4-a175-9172-4402-dabd98fc9c0a">
		<!--<h4 class="text-uppercase mb-0 text-bold-400">Theme Customizer</h4>
		<p>Customize &amp; Preview in Real Time</p>
		<hr>
		<h6 class="text-center text-bold-500 mb-3 text-uppercase">Health Bot</h6>
		<hr>-->
		<!--div class="webchat-container" #botWindow></div>-->
		<div id="botContainer" style="width:95%"></div>
		<!--Sidebar Width Ends-->
	</div>
</div>
<!--Theme customizer Ends-->
