<div *ngIf="group == duchenneinternational">
  <section *ngIf="!showSecurity">
    <a id="initpos"></a>
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
    </div>
    <div class="modal-body">
  	 <h5>{{'policy.CONTENT' | translate }}</h5>
     <ol>
       <li><a class="primary" (click)="goTo('step1')">{{'policy.Identification and contact details of Data Controller' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step2')">{{'policy.Necessary and updated information.' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step3')">{{'policy.Data Protection Rights.' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step4')">{{'policy.Detailed information of the processing.' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step5')">{{'policy.Security and confidentiality.' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step6')">{{'policy.Users under age.' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step7')">{{'policy.Privacy Policy updates.' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step8')">{{'policy.Additional information' | translate }}</a></li>
     </ol>
     <a id="step1"></a>
     <div>
       <h6 class="primary">1. {{'policy.Identification and contact details of Data Controller' | translate }}</h6>
       <p>
         {{'policy.Duchenne Parent Project Netherlands, a non profit ...' | translate }}
       </p>
       <p>
         {{'policy.Fundación 29 de Febrero, a non-profit entity ...' | translate }}
       </p>
       <p>
         {{'policy.DDP is an online platform ...' | translate }}
       </p>
       <p>
         {{'policy.Should you have any query ...' | translate }}
       </p>
     </div>
     <a id="step2"></a>
     <div>
       <h6 class="primary">2. {{'policy.Necessary and updated information.' | translate }}</h6>
       <p>
         {{'policy.All fields of the registration ...' | translate }}
       </p>
       <p>
         {{'policy.It is important that you keep your access details secret...' | translate }}
       </p>
       <p>
         {{'policy.In order to keep your information up to date...' | translate }}
       </p>
     </div>
     <a id="step3"></a>
     <div>
       <h6 class="primary">3. {{'policy.Data Protection Rights.' | translate }}</h6>
       <p>
         {{'policy.We hereby inform you that you may exercise the following rights:' | translate }}
       </p>
       <ol type="i">
         <li>{{'policy.Right to access your personal data in order to know how and to what purpose it is being processed;' | translate }}</li>
         <li>{{'policy.Right to rectification of any inaccurate data;' | translate }}</li>
         <li>{{'policy.Right to erasure of personal data, where it is possible;' | translate }}</li>
         <li>{{'policy.Right to demand the limitation ...' | translate }}</li>
         <li>{{'policy.Right to object the processing...' | translate }}</li>
         <li>{{'policy.Right to data portability ...' | translate }}</li>
         <li>{{'policy.Right to revoke, at any time, the consent granted.' | translate }}</li>
       </ol>
       <p>
         {{'policy.You may exercise your rights ...' | translate }}
       </p>
       <p>
         {{'policy.You can also file a claim ...' | translate }}
       </p>
     </div>
     <a id="step4"></a>
     <div>
       <h6 class="primary">4. {{'policy.Detailed information of the processing.' | translate }}</h6>
       * {{'policy.Purpose of the processing' | translate }} - <b>{{'policy.Registration and use of the platform.' | translate }}</b>
       <ul>
          <li>
            {{'policy.Legal basis' | translate }} - {{'policy.Performance of the service requested ...' | translate }}
          </li>
          <li>
            {{'policy.Recipients of data' | translate }} - {{'policy.We will not share your personal data ...' | translate }}
          </li>
          <li>
            {{'policy.Retention period' | translate }} - {{'policy.During the performance of the service...' | translate }}
          </li>
        </ul>

        * {{'policy.Purpose of the processing' | translate }} - <b>{{'policy.Storage and management of health-related data.' | translate }}</b>
        <ul>
           <li>
             {{'policy.Legal basis' | translate }} - {{'policy.Your express and specific consent.' | translate }}
           </li>
           <li>
             {{'policy.Recipients of data' | translate }} - <p>{{'policy.We will not share your personal ...' | translate }}</p>
             <p>{{'policy.However, we have certain service ...' | translate }}</p>
           </li>
           <li>
             {{'policy.Retention period' | translate }} - <p>{{'policy.During the performance of the service, until you unsubscribe from the platform.' | translate }}</p>
             <p>{{'policy.We may retain your personal data...' | translate }}</p>
           </li>
         </ul>

         * {{'policy.Purpose of the processing' | translate }} - <b>{{'policy.Statistical and research purposes:' | translate }}</b>
            <p>{{'policy.once you unsubscribe from the platform ...' | translate }}</p>
         <ul>
            <li>
              {{'policy.Legal basis' | translate }} - {{'policy.Your express and specific consent.' | translate }}
            </li>
            <li>
              {{'policy.Recipients of data' | translate }} - {{'policy.We will not share your personal data 2 ...' | translate }}
            </li>
            <li>
              {{'policy.Retention period' | translate }} - {{'policy.We will anonymise your personal data ...' | translate }}
            </li>
          </ul>

          {{'policy.International transfers' | translate }} - {{'policy.One of our main service providers ...' | translate }} <a href="mailto:info@duchenne.nl">info@duchenne.nl</a> .
            <p>{{'policy.For more information about Microsoft Azure security:' | translate }} <a href="https://azure.microsoft.com/en-us/overview/trusted-cloud/" target="_blank">Video</a> </p>
            <p>Microsoft datacenters video: <a (click)="goToExternalUrl('https://www.youtube.com/watch?v=r1cyTL8JqRg')" href="javascript:void(0)">Video</a></p>

        <p>
          {{'policy.DPP might come back to you in order to ask for specific consent under the framework of a specific project' | translate }}
        </p>
     </div>
     <a id="step5"></a>
     <div>
       <h6 class="primary">5. {{'policy.Security and confidentiality.' | translate }}</h6>
       <p>
         {{'policy.We will keep confidential and secret ...' | translate }}
       </p>
       <p>
         {{'policy.Notwithstanding the foregoing ...' | translate }}
       </p>
       <p>
         {{'policy.Below you may find more ...' | translate }}
       </p>
       <p><u>{{'security.Data quality' | translate }}</u></p>
       <p>
         {{'security.DDP ensures quality in data input by standardized and consistent procedures for data entry:' | translate }}
       </p>
       <p>
         * {{'security.Setting up validation rules or input masks in data entry software' | translate }}
       </p>
       <p>
         * {{'security.Using data entry screens or bot...' | translate }}
       </p>
       <p>
         * {{'security.Detailed labelling of variable and record names to avoid confusion' | translate }}
       </p>
       <p>
         * {{'security.Designing a purpose-built database structure to organize data and data files' | translate }}
       </p>
       <p>
         * {{'security.Accompanying notes and contextual help about the data' | translate }}
       </p>
       <p>
         {{'security.DDP also provides the required...' | translate }}
       </p>
       <a id="stepback"></a>
       <p><a (click)="openSecurity()" class="btn-flat btn-primary">{{'policy.LINK TO SECURITY POLICY DOCUMENT' | translate }} <i class="ft-external-link"></i></a></p>
       <p><u>{{'security.Access to DDP' | translate }}</u></p>
       <p>
         {{'security.Access  to DDP  ...' | translate }}
       </p>
       <p>
         {{'security.To maintain anonymity ...' | translate }}
       </p>
       <p><u>{{'security.Data governance principles' | translate }}</u></p>
       <p>
         {{'security.DDP data governance principles are as follows:' | translate }}
       </p>
       <p>
         * {{'security.All data and material sharing ...' | translate }}
       </p>
       <p>
         * {{'security.Data will be owned by patient...' | translate }}
       </p>
       <p>
         * {{'security.When used outside the context ...' | translate }}
       </p>
       <p>
         * {{'security.In these cases, patient ...' | translate }}
       </p>
       <p>
         * {{'security.When used in the context ...' | translate }}
       </p>
     </div>
     <a id="step6"></a>
     <div>
       <h6 class="primary">6. {{'policy.Users under age.' | translate }}</h6>
       <p>
         {{'policy.Users under 16 years old are ...' | translate }}
       </p>
       <p>
         {{'policy.In line with the abovementioned ...' | translate }}
       </p>
     </div>
     <a id="step7"></a>
     <div>
       <h6 class="primary">7. {{'policy.Privacy Policy updates.' | translate }}</h6>
       <p>
         {{'policy.The Data Controller may update ...' | translate }}
       </p>
       <p>
         {{'policy.You may find this Privacy Policy ...' | translate }}
       </p>
     </div>
     <a id="step8"></a>
      <div>
        <h6 class="primary">8. {{'policy.Additional information' | translate }}</h6>
        <div class="p-2" style="background: #e3e1e1;border: 2px solid !important;">
          <span>
            <strong>{{'policy.step8.t1' | translate }}</strong>
            <p class="mb-0">{{'policy.step8.cont1.1' | translate }}</p>
            <p [innerHTML]="'policy.step8.cont1.2' | translate | safe: 'html'"></p>
          </span>
          <span>
            <strong>{{'policy.step8.t2' | translate }}</strong>
            <p class="mb-0">{{'policy.step8.cont2.1' | translate }}</p>
            <p [innerHTML]="'policy.step8.cont2.2' | translate | safe: 'html'"></p>
          </span>
        </div>
        <div class="mt-3">
          <strong>{{'policy.step8.p1.t' | translate }}</strong>
          <p>{{'policy.step8.p1.c1' | translate }}</p>
        </div>
        <div>
          <strong>{{'policy.step8.p2.t' | translate }}</strong>
          <p>{{'policy.step8.p2.c1' | translate }}</p>
        </div>
        <div>
          <strong>{{'policy.step8.p3.t' | translate }}</strong>
          <p>{{'policy.step8.p3.c1' | translate }}</p>
        </div>
        <div>
          <strong>{{'policy.step8.p4.t' | translate }}</strong>
          <ul>
            <li>
              {{'policy.step8.p4.c1' | translate }}
            </li>
            <li>
              {{'policy.step8.p4.c2' | translate }}
            </li>
            <li>
              {{'policy.step8.p4.c3' | translate }}
            </li>
            <li>
              {{'policy.step8.p4.c4' | translate }}
            </li>
          </ul>
        </div>
        
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="activeModal.close('Close click')">{{'generics.Close' | translate }}</button>
    </div>
  </section>
  <section *ngIf="showSecurity">
    <a id="initposSecurity"></a>
    <div class="modal-header">
      <h4 class="modal-title">{{'security.Data Privacy and Security' | translate }}</h4>
    </div>
    <div class="modal-body">
      <div>
        <h5 class="danger">Foundation 29</h5>
        <p>
          {{'security.Our name comes from ...' | translate }}
        </p>
        <p>
        {{'security.We create expert systems ...' | translate }}
        </p>
        <p>
          {{'security.We want to give citizens control over their data to support biomedical research' | translate }}
        </p>
        <p>
          {{'security.We empower people to make ...' | translate }}
        </p>
      </div>
      <div>
        <h5 class="danger">Duchenne Data Platform (DDP)</h5>
        <p>
          {{'security.Our objective is to empower the patients...' | translate }}
        </p>
        <p>
          {{'security.DDP is a health data platform...' | translate }}
        </p>
        <p>
          {{'security.It has been created by a multidisciplinary ...' | translate }}
        </p>
      </div>
      <div>
        <h5 class="danger">{{'security.DDP–Data access, privacy and security considerations' | translate }}</h5>
        <h6 class="danger">{{'security.Data Privacy and Security' | translate }}</h6>
        <p>
          {{'security.DDP has been designed to meet...' | translate }}
        </p>
        <p>
          {{'security.Azure has established a set ...' | translate }}
        </p>
        <p>
          {{'security.For more information about Microsoft Azure security:' | translate }} <a (click)="goToExternalUrl('https://azure.microsoft.com/en-us/overview/trusted-cloud/')" href="javascript:void(0)">Azure Cloud</a>
        </p>
        <p>
          {{'security.Microsoft datacenters video' | translate }}: <a (click)="goToExternalUrl('https://www.youtube.com/watch?v=r1cyTL8JqRg')" href="javascript:void(0)">Discover World Class Security at Microsoft’s Datacenters</a>
        </p>
        <p>
          {{'security.DDP has been designed to comply with new european GDPR requirements.' | translate }}
        </p>
        <p>
          {{'security.Access to DDP is controlled through login with user ID and password as discussed in an access specific section below.' | translate }}
        </p>
        <h6 class="danger">{{'security.Data quality' | translate }}</h6>
        <p>
          {{'security.DDP ensures quality in data input by standardized and consistent procedures for data entry:' | translate }}
        </p>
        <p>
          * {{'security.Setting up validation rules or input masks in data entry software' | translate }}
        </p>
        <p>
          * {{'security.Using data entry screens or bot...' | translate }}
        </p>
        <p>
          * {{'security.Detailed labelling of variable and record names to avoid confusion' | translate }}
        </p>
        <p>
          * {{'security.Designing a purpose-built database structure to organize data and data files' | translate }}
        </p>
        <p>
          * {{'security.Accompanying notes and contextual help about the data' | translate }}
        </p>
        <p>
          {{'security.DDP also provides the required...' | translate }}
        </p>
        <h6 class="danger">{{'security.Data governance principles' | translate }}</h6>
        <p>
          {{'security.DDP data governance principles are as follows:' | translate }}
        </p>
        <p>
          * {{'security.All data and material sharing ...' | translate }}
        </p>
        <p>
          * {{'security.Data will be owned by patient...' | translate }}
        </p>
        <p>
          * {{'security.When used outside the context ...' | translate }}
        </p>
        <p>
          * {{'security.In these cases, patient ...' | translate }}
        </p>
        <p>
          * {{'security.When used in the context ...' | translate }}
        </p>
        <h6 class="danger">{{'security.Access to DDP' | translate }}</h6>
        <p>
          {{'security.Access  to DDP  ...' | translate }}
        </p>
        <p>
          {{'security.To maintain anonymity ...' | translate }}
        </p>
        <h6 class="danger">{{'security.Informed Consent' | translate }}</h6>
        <p>
          {{'security.Informed consent is the process ...' | translate }}
        </p>
        <p>
          {{'security.Every new DDP user has to agree ...' | translate }}
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="back()">{{'generics.Back' | translate }}</button>
    </div>
  </section>
</div>
<div *ngIf="group != duchenneinternational">
  <section>
    <a id="initpos"></a>
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
    </div>
    <div class="modal-body">
  	 <h5>{{'policy.CONTENT' | translate }}</h5>
     <ol>
       <li><a class="primary" (click)="goTo('step1')">{{'policy.step1' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step2')">{{'policy.step2' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step3')">{{'policy.step3' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step4')">{{'policy.step4' | translate }}</a></li>
       <li><a class="primary" (click)="goTo('step5')">{{'policy.step5' | translate }}</a></li>
     </ol>
     <a id="step1"></a>
     <div>
       <h6 class="primary">1. {{'policy.step1' | translate }}</h6>
       <p>
         {{'policy.step1-1' | translate }}:
       </p>
         <ul>
           <li>NIF: G-87894119</li>
           <li>{{'policy.step1-2' | translate }}: Calle Abrego 31, 4º B. 28223 – Pozuelo de Alarcón (Madrid)</li>
           <li>{{'generics.Email' | translate }}: info@foundation29.org</li>
         </ul>
     </div>
     <a id="step2"></a>
     <div>
       <h6 class="primary">2. {{'policy.step2' | translate }}</h6>
       <p>
         {{'policy.step2-1' | translate }}:
       </p>
         <ul>
           <li>
             {{'policy.step2-2' | translate }}
           </li>
           <li>
             {{'policy.step2-3' | translate }}
           </li>
         </ul>
     </div>
     <a id="step3"></a>
     <div>
       <h6 class="primary">3. {{'policy.step3' | translate }}</h6>
       <p>
         {{'policy.step3-1' | translate }}
       </p>
     </div>
     <a id="step4"></a>
     <div>
       <h6 class="primary">4. {{'policy.step4' | translate }}</h6>
       {{'policy.step4-1' | translate }}:
       <ul>
          <li>
            {{'policy.step4-2' | translate }}
          </li>
          <li>
            {{'policy.step4-3' | translate }}
          </li>
          <li>
            {{'policy.step4-4' | translate }}
          </li>
          <li>
            {{'policy.step4-5' | translate }}
          </li>
          <li>
            {{'policy.step4-6' | translate }}
          </li>
        </ul>

        <p>{{'policy.step4-7' | translate }}</p>
     </div>
     <a id="step5"></a>
     <div>
       <h6 class="primary">5. {{'policy.step5' | translate }}</h6>
       <p>
         {{'policy.step5-1' | translate }}
       </p>
     </div>

     <hr>
     <p>
       {{'policy.other1' | translate }}
     </p>
     <p>
       {{'policy.other2' | translate }}
     </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-raised" (click)="activeModal.close('Close click')">{{'generics.Close' | translate }}</button>
    </div>
  </section>
</div>
