.mat-form-field {
  width: 100%;
}

/*.question{
  position: relative;
  font-weight: bold;
}*/

@media ( max-width: 680px ){
  ngb-accordion [role="tablist"] {
      padding: 0 !important;
  }

}
::ng-deep .card {
 background:transparent;
}
