@import "../../../../assets/sass/scss/gradient-variables";

.botonalineado{
  margin-top: 2em;
}


.bg-customer{
  background-color: #343a40;
}

.pointer{
  cursor: pointer;
}

@media ( max-width: 768px ){

  .botonalineado{
    margin-top: 1em;
  }

}

:host /deep/ .ytp-icon .ytp-icon-watermark{
  display: none;
}

agm-map {
  height: 400px;
}

:host /deep/ .ct-grid{
    stroke-dasharray: 0px;
    stroke: rgba(0, 0, 0, 0.1);
}

:host /deep/ .ct-label{
    font-size: 0.9rem;
}
