<a id="initpos"></a>
<div class="row md-4" *ngIf="nameduchenne == group || nameduchenneInter == group">
	<div class="center-elements">
    <img alt="Card image cap" [src]=urlimg  style="border:none;" class="mx-auto d-block img-thumbnail">
  </div>
	<div *ngIf="nameduchenne == group" class="col-md-6 center-elements embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/jdv07zWqb1E?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div [ngClass]="(nameduchenneInter == group)?'col-md-8':'col-md-6'">
		<p>
			{{'dashboard.Duchenne Data Platform (DDP) is a collaboration between' | translate }} <a (click)="goToExternalUrl('https://duchenne.nl/')" href="javascript:void(0)" title="Duchenne Parent Project">Duchenne Parent Project</a> {{'dashboard.and' | translate }} <a (click)="goToExternalUrl('http://foundation29.org/')" href="javascript:void(0)" title="Foundation 29" target="_blank">Foundation 29</a>{{'dashboard.a non-profit organization...' | translate }}.
		</p>
		<p>
			{{'dashboard.DDP is a data platform for storing biomedical data...' | translate }} (<a (click)="goToExternalUrl('https://health29.org/data-privacy-security/')" href="javascript:void(0)" title="security policy">{{'registration.Security Policy' | translate }}</a>)
		</p>
		<p>
			{{'dashboard.The platform is available via the internet or as an app...' | translate}} (<a (click)="goToExternalUrl('https://health29.org/privacy-policy/')" href="javascript:void(0)" title="privacy policy">{{'registration.Privacy Policy' | translate }}</a>)
		</p>
		<p>
			{{'dashboard.For questions and other information' | translate }} <a href="mailto:info@duchenne.nl">info@duchenne.nl</a>
		</p>
	</div>
</div>
