.centerSpinner{
  margin: auto;
  width: 50%;
}

.select-no-style{
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none;
  background-color: white;
}
/*.question{
  position: relative;
  bottom: 10px;
  font-weight: bold;
}*/
