.profile-menu{
    .active{
        border-bottom: 2px solid;
        margin-bottom: -2px;
    }
}

.modalPDF > div{
    display: grid;
}

.modalPDF > div > div > a{
    margin-right: 10px;
    color: #d71920;
}

.modalPDF > div > div :nth-child(2) {
    margin-top: 10px;
}

.modalPDF > div > div > input {
    margin-right: 5px;
}

.modalPDF > div > div > a > i {
    margin-right: 2px;
    position: relative;
    bottom: 1px;
}

#filterButton:disabled{
    cursor: default;
}

.modalPDF > p{
    font-weight: bolder;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}