:host /deep/ .mat-form-field-infix {
  //font-size: 0.8em !important;
  padding: 0;
  border-top: 0;
}

.mat-form-field {
  width: 100%;
}
:host /deep/ .mat-select-value-text {
  color: #75787d;
}

:host /deep/ .mat-input-element {
  color: #75787d;
}

/*.question{
  position: relative;
  bottom: 10px;
  font-weight: bold;
}*/
/*.form-section{
  border-bottom: none;
}*/
