<div class="row" *ngIf="group == nameduchenne">
  <div class="col-sm-12">
    <div class="content-header">Videos</div>
  </div>
  <div class="col-sm-12" style="margin-top:1em;">
  	<div class="row">
  		<div class="col-md-3">
        <iframe style="width: 99%;" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/xQmgZQ9fYzg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span>Persoonlijke informatie, FAQs en Privacybeleid</span>
  		</div>
  		<div class="col-md-3">
  			<iframe style="width: 99%;" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/s6vHQUjx4e4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span>Lichaamsmaten en Verloop van de ziekte</span>
  		</div>
  		<div class="col-md-3">
  			<iframe style="width: 99%;" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/ov8Lk_zwTKk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span>Medische zorg, Klinische onderzoeken en Mijn genetische informatie</span>
  		</div>
  		<div class="col-md-3">
  			<iframe style="width: 99%;" class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/TsDuF8hq5Vs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <span>Geneesmiddel</span>
  		</div>
  		<div class="col-md-12" style="margin-bottom:1em;">

  		</div>
  		<div class="col-md-9">
  		</div>
  	</div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="content-header">{{'menu.FAQs' | translate }}</div>
    <span *ngIf="group == nameduchenne" class="content-sub-header"><em>{{'faqs.any question' | translate }}</em></span>
  </div>
</div>
<!-- faq starts -->
<section id="faq" *ngIf="emailAdmin == '' && loadedfaqs">
  <div class="row">
    <div class="col-12">
      <div class="card faq-bg bg-transparent box-shadow-0">
        <div *ngIf="group != nameduchenne" class="card-content">
          <div class="card-body p-md-2 text-center">
            <!--<h1 class="faq-title mb-3">{{'faqs.here to help' | translate }}!!</h1>-->
            <p><em>{{'faqs.any question' | translate }}</em></p>
          </div>
        </div>
        <form class="d-flex" [ngClass]="( group != nameduchenne )?'justify-content-center':''">
          <fieldset class="faq-search-input form-group position-relative w-100">
            <input type="text" class="form-control round form-control-lg shadow p-1 pl-3" placeholder="{{'faqs.Search in faqs' | translate }}..." (input)="filter($event.target.value)" #messageInput>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <p>{{disclaimer}}</p>
  <div class="row">
    <div class="col-12">
      <div class="card" style="background-color: transparent !important;">
        <div class="card-block">
          <ngb-accordion [closeOthers]="true" *ngIf="faqs.length>0">
            <ngb-panel [id]="faq.faqId" *ngFor="let faq of faqs; let i = index">
                <ng-template ngbPanelTitle>
                   <h5><i class="icon-question mr-2"></i> <span> {{faq.title}}</span></h5>
                  </ng-template>
              <ng-template ngbPanelContent>
                <div class="card-block">
                  <span id="content{{i}}" [innerHTML]="faq.content"></span>
                </div>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
          <div *ngIf="faqs.length==0">
            {{'generics.There are no results for the search' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faqloading" *ngIf="!hasfaqs && !loadedfaqs">
  <div class="col-md-12 center-elements">
    <div><p class="centerSpinner"><i class="fa fa-spinner fa-spin fa-3x fa-fw pink"></i></p></div>
  </div>
</section>
<section id="faqempty" *ngIf="!hasfaqs && loadedfaqs">
  <div class="row">
    <div class="col-12">
      <div class="card text-center p-4">
        <div class="card-header">
          <h1>{{'faqs.here to help' | translate }}!!</h1>
          <p><em>{{'faqs.There are no frequently asked questions in' | translate }} {{langName}}</em></p>
        </div>
        <div class="card-block">
          <h6>{{'faqs.Contact your administrator to add the questions in' | translate }} {{langName}}</h6>
          <small>{{'generics.Email' | translate }}: {{emailAdmin}}</small>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq Ends -->
